// COLORS
$color-primary: #10375C;
$color-primary-dark: #0D2C4A;

$color-secondary: #FF5722;
$color-secondary-dark: #DD2C00;



$color-grey-dark: #6A6A6A;
$color-grey-1: #9A9A9A;
$color-grey-2: #DFDFDF;
$color-grey-3: #E5E5E5;
$color-grey-4: #F8F8F8;

$color-white: #fff;
$color-black: #222831;

//FONT
$default-font-size: 1.8rem;

$shadow-one: 0 1.5rem 4rem rgba($color-black, .15);