.news {


    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @include respond(tab-port) {
            flex-direction: column;
            align-items: flex-start;
            margin: 0 auto;
        }

        @include respond(tab-small) {
            max-width: 350px;
        }
    }

    &__heading {
        flex: 1;
        
        @include respond(tab-small) {
            margin-bottom: 1rem;
        }
    }

    &__button {
        align-self: flex-end;
        padding: 3px 0;

        @include respond(tab-port) {
            align-self: flex-start;
            margin: 0;
        }
    }
}

.content {
    font-size: 1.6rem;

    &__first {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include respond(tab-small) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__primary-main {
        padding: 3.2rem;
    }

    &__primary {
        margin-bottom: 3rem;
        background-color: $color-white;
        display: flex;
        flex: 0 0 66%;
        max-width: 73rem;
        margin-right: 3rem;
        transition: box-shadow .3s;

        &:hover {
            box-shadow: 0 .6rem 2.4rem rgba(0, 0, 0, 0.15);
        }


        @include respond(tab-land) {
            max-width: 200rem;
            flex: 0 0 100%;
            margin-right: 0rem;
        }

        @include respond(tab-small) {
            flex-direction: column;
            max-width: 350px;
            padding-right: 0;
            margin-bottom: 5rem;
        }
    }

    &__img-big {
        @include respond(tab-port) {
            width: 100%;
        }
    }

    &__heading {
        font-weight: 700;
        margin-bottom: 2.4rem;
    }

    &__text {
        margin-bottom: 1.6rem;
        color: $color-grey-1;

        @include respond(tab-land) {
            margin-bottom: 5rem;
        }
    }


    &__other {
        flex: 1;
        background-color: $color-white;
        margin-bottom: 3rem;
        transition: box-shadow .3s;
        @include mix-margin-right;


        @include respond(tab-land) {
            flex: 0 0 45%;
            &:not(:last-child) {
                margin-right: 0;
            }
        }

        @include respond(tab-small) {
            max-width: 350px;
            margin-bottom: 5rem;
        }

        &--1 {
            &:not(:last-child) {
                margin-right: 0;
            }
        }

        &:hover {
            box-shadow: 0 .6rem 2.4rem rgba(0, 0, 0, 0.15);
        }

    }

    &__img-small {
        margin-bottom: 1.4rem;

        @include respond(tab-land) {
            width: 100%;
        }
    }

    &__subtitle {
        margin: 0 1.6rem;
        margin-top: 4px;
        padding-right: 4rem;
    }

    &__paragraph {
        margin-left: 1.6rem;
        margin-bottom: 1.6rem;
        color: $color-grey-1;
        font-size: 1.6rem;
        font-weight: 400;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__photo {
        margin-right: 2.3rem;
    }

    &__user-name {
        font-size: $default-font-size;
        color: $color-primary;
    }

    &__user-job {
        color: $color-grey-1;
        font-weight: 400;
    }
}
