.facilities {

    @include respond(tab-port) {
        padding: 0 10rem;
    }

    @include respond(tab-small) {
        padding: 0 2rem;
    }


    &__main-block {
        margin-top: 5.6rem;
        display: flex;
        justify-content: space-between;

        @include respond(tab-port) {
            flex-direction: column-reverse;
        }
    }

    &__heading {
        max-width: 57rem;
    }

    &__list {
        flex: 1;
        list-style: none;
        padding-right: 8.8rem;

        @include respond(tab-land) {
            padding-right: 4rem;
        }

        @include respond(tab-port) {
            max-width: 55rem;
        }
    }

    &__item {
        line-height: 2.4rem;
        padding: 2.4rem;
        font-size: 2rem;
        font-weight: 700;
        transition: all .2s;
    
        &:hover {
            color: $color-white;
            background-color: $color-secondary;
            box-shadow: 0 1rem 4rem rgba($color-secondary , 0.3);
            border-radius: 2px;
        }


        @include respond(tab-port) {
            padding-left: 6rem;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
    }
}